*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    @font-face {
        font-family: Jost; 
        src: url('fonts/Jost.ttf'); 
    }
    
    @font-face {
        font-family: Vetrino; 
        src: url('fonts/ofont_Vetrino.ttf'); 
    }
    
    
    
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        background-color: #F6F4F3;
      /*  background-color: rgba(238, 238, 238, 1);*/
    }
    
    a{
        text-decoration: none;
    }

    .catalog-container{
        padding-top: 200px;
        background-color: #F6F4F3;
        width: 90%;  
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .catalog-main-p{
        position: relative;
    display: block;
    width: 100%;
    color: #8A6D57;
    text-align: center;
    font-family: Vetrino;
    font-size: 80px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    }

    .catalog-categories{
        position: relative;
        margin: auto;
        display: flex;
        justify-content: space-around;
        width: 30%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .catalog-categories a{
        text-decoration: none;
        color: #313131;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    }

    .catalog-flex1{
        justify-content: space-between;
        display: flex;
        width: 100%;
    }

    .catalog-flex2{
        justify-content: space-between;
        display: flex;
        width: 100%;
        margin-top: 130px;
    }

    .catalog-flex3{
        justify-content: space-between;
        display: flex;
        width: 100%;
        margin-top: 130px;
    }

    .catalog-flex4{
        justify-content: space-between;
        display: flex;
        width: 100%;
        margin-top: 130px;
        margin-bottom: 150px;
    }

    .catalog-card p{
            padding-top: 15px;
            color: #313131;
            font-family: Jost;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
    }

    .catalog-card{
        cursor: pointer;
        width: 32%;
    }

    .catalog-card-background{
        width: 100%;
        aspect-ratio: 7/10;
        background-color: #EEEAE7;
        position: relative;
    }
    
    .catalog-card-background img{
        position: absolute;
        height: 60%;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }